@model MTR2.Web.ViewComponents.RepoArticleBigListViewComponent.RepoArticleBigListModel

<table id="repo-article-list" class="table-responsive m-auto">
	@foreach (var repoArticle in Model.RepoArticles)
	{
		<tr>
			<td>
				<a asp-page="RArticle" asp-route-id="@repoArticle.Id">@repoArticle.Order @repoArticle.Title</a>
			</td>
			@if (Model.IsAdmin)
			{
				<td>
					<a class="fas fa-pencil-alt" asp-page="EditRepoArticle" asp-route-id="@repoArticle.Id"></a>
				</td>
				<td>
					<a class="fas fa-trash" asp-controller="Article" asp-action="DeleteRepoArticle" asp-route-id="@repoArticle.Id"></a>
				</td>
			}
		</tr>
	}
</table>