@model MTR2.Dal.Dtos.BlogArticleDto

<div class="card">
	<h4 class="card-header text-center">
		<a asp-page="BArticle" asp-route-id="@Model.Id">@Model.Title</a>
	</h4>
	<div class="card-body">
		<div class="container-fluid">
			<div class="row">
				<div class="text-center w-100">
						<img src="~/images/posts/thumbnails/@(Model.Id).jpg" class="mw-100" alt="@Model.Title" title="@Model.Title" />
					<p>
						<span class="text-primary">@Model.CreationDate.ToString("yyyy.MM.dd")</span> |
						<span class="text-info">@Model.Author.Name</span>
					</p>
				</div>
				<hr />
				<p class="small">
					@Model.ShortDescription.Substring(0,Math.Min(300,
Model.ShortDescription.Length))
				</p>
			</div>
		</div>
	</div>
</div>